body {
    text-align: center;
    background-color: #BFEAF5;
    font-family: 'Montserrat', sans-serif;
}

.first {
    text-align: center;
    border: none;
    margin: none;
}

.second {
    background-color: #82AAE3;
}
#myself {
    width: 248px;
    height: 370px;
}
p {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 1.5rem;
}
.container-fluid {
    width: 61%;
}
.title {
    font-size: 5rem;
}
.words {
    font-size: 1.5rem;
}
