body {
    text-align: center;
    background-color: #BFEAF5;
    font-family: 'Montserrat', sans-serif;
}

.first {
    text-align: center;
    border: none;
    margin: none;
}

.second {
    background-color: #82AAE3;
    width: 100%;
    position: absolute;
    left: 0px;
    padding-bottom: 20px;
}

#myself {
    max-width: 372px;
    max-height: 248px;
}
#yuher {
    height: 248px;
    width: 372px;
}
#yuheng {
    height: 248px;
    width: 372px;
}
#yunxuan {
    height: 380px;
    width: 380px;
}
p {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 1.5rem;
}
.container-fluid {
    width: 61%;
}
.title {
    font-size: 5rem;
}
.words {
    font-size: 1.5rem;
}
.gs {
    font-family: 'Noto Serif SC', serif;
    font-weight: 200;
}
